In [58]:
import os
import numpy as np
import pandas as pd
import re
import zipfile

import random
random.seed(123)

In [59]:
### Asians

In [60]:
import os
import pandas as pd

# Function to extract age from the last two digits of the file name
def extract_age_from_filename(filename):
    try:
        age = int(filename[-6:-4])  # Extract the last two digits of the file name
        return age
    except ValueError:
        return None

# Function to determine gender based on serial number
def determine_gender(person_id):
    if 0 <= person_id <= 7380:
        return "female"
    elif 7381 <= person_id <= 13321:
        return "male"
    else:
        return None

# Path to the folder containing photos
folder_path = "C:/Users/HyperWorks/Downloads/All-Age-Faces_Dataset (ASIANS)/"

# Create empty lists to store data
file_names = []
ages = []
genders = []

# Iterate through the files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".jpg"):
        file_names.append(filename)  # Store only the file name
        age = extract_age_from_filename(filename)
        person_id = int(filename[:5])  # Extract the first 5 digits as person_id
        gender = determine_gender(person_id)
        
        if age is not None:
            ages.append(age)
            genders.append(gender)
        else:
            # Handle the case when the age couldn't be extracted
            print(f"Ignoring file with an invalid age format: {filename}")

# Create a DataFrame
data = {
    "file_name": file_names,
    "age": ages,
    "gender": genders,
}
df = pd.DataFrame(data)
df.insert(2, 'name', None)

# Display the DataFrame
print(df)

          file_name  age  name  gender
0      00000A02.jpg    2  None  female
1      00001A02.jpg    2  None  female
2      00002A02.jpg    2  None  female
3      00003A02.jpg    2  None  female
4      00004A02.jpg    2  None  female
...             ...  ...   ...     ...
13317  13317A80.jpg   80  None    male
13318  13318A80.jpg   80  None    male
13319  13319A80.jpg   80  None    male
13320  13320A80.jpg   80  None    male
13321  13321A80.jpg   80  None    male

[13322 rows x 4 columns]

In [61]:
Asians = df

In [62]:
Asians

          file_name  age  name  gender
0      00000A02.jpg    2  None  female
1      00001A02.jpg    2  None  female
2      00002A02.jpg    2  None  female
3      00003A02.jpg    2  None  female
4      00004A02.jpg    2  None  female
...             ...  ...   ...     ...
13317  13317A80.jpg   80  None    male
13318  13318A80.jpg   80  None    male
13319  13319A80.jpg   80  None    male
13320  13320A80.jpg   80  None    male
13321  13321A80.jpg   80  None    male

[13322 rows x 4 columns]

In [63]:
###UTK

In [64]:
import os
import pandas as pd

def extract_age_and_gender(filename):
    parts = filename.split('_')
    if len(parts) >= 2:
        age = int(parts[0])
        gender = parts[1]
        # Map '0' to 'male' and '1' to 'female'
        gender = 'male' if gender == '0' else 'female' if gender == '1' else None
        return age, gender
    else:
        return None, None

def create_dataframe_from_photos(folder_path):
    data = []

    for filename in os.listdir(folder_path):
        if filename.endswith(".jpg"):
            age, gender = extract_age_and_gender(filename)
            if age is not None and gender is not None:
                data.append([filename, age, gender])

    if data:
        df = pd.DataFrame(data, columns=["file_name", "age", "gender"])
        return df
    else:
        return None

In [65]:
folder_path = "C:/Users/HyperWorks/Downloads/part1"
df1 = create_dataframe_from_photos(folder_path)

In [66]:
folder_path = "C:/Users/HyperWorks/Downloads/part2"
df2 = create_dataframe_from_photos(folder_path)

In [67]:
folder_path = "C:/Users/HyperWorks/Downloads/part3"
df3 = create_dataframe_from_photos(folder_path)

In [68]:
import pandas as pd

combined_df = pd.concat([df1, df2, df3], axis=0)
combined_df.insert(2, 'name', None)

# Reset the index if needed
combined_df.reset_index(drop=True, inplace=True)

print(combined_df)

                           file_name  age  name  gender
0      100_1_0_20170110183726390.jpg  100  None  female
1      100_1_2_20170105174847679.jpg  100  None  female
2      100_1_2_20170110182836729.jpg  100  None  female
3      101_1_2_20170105174739309.jpg  101  None  female
4       10_0_0_20161220222308131.jpg   10  None    male
...                              ...  ...   ...     ...
24099   99_1_0_20170120134718759.jpg   99  None  female
24100   99_1_0_20170120221920654.jpg   99  None  female
24101   99_1_1_20170120134639935.jpg   99  None  female
24102    9_0_0_20170120133313910.jpg    9  None    male
24103    9_0_0_20170120133317677.jpg    9  None    male

[24104 rows x 4 columns]

In [69]:
UTK = combined_df

### KANFace

In [70]:
import os
import pandas as pd
import re

# Define a function to extract age from file names using regular expressions
def extract_age_from_filename(filename):
    pattern = r'\_(\d{2})_'
    match = re.search(pattern, filename)
    if match:
        age = int(match.group(1))
        return age
    return None

# Specify the folder containing the photos
folder_path = 'C:/Users/HyperWorks/Downloads/images'

# Initialize lists to store file paths and ages
file_paths = []
ages = []

# Iterate through the files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.png'):  # Check if the file is a PNG file
        age = extract_age_from_filename(filename)
        if age is not None:
            file_paths.append(filename)
            ages.append(age)

# Create a DataFrame from the collected data
data = {'file_name': file_paths, 'age': ages}
df = pd.DataFrame(data)

df.insert(2, 'name', None)
df.insert(3, 'gender', None)

# Display the DataFrame
print(df)

                       file_name  age  name gender
0      0000_12_002278_002396.png   12  None   None
1      0000_12_002820_002912.png   12  None   None
2      0000_14_007330_008421.png   14  None   None
3      0000_14_014229_014330.png   14  None   None
4      0000_14_022373_022546.png   14  None   None
...                          ...  ...   ...    ...
38719  1044_36_004373_004581.png   36  None   None
38720  1044_36_004679_004830.png   36  None   None
38721  1044_36_004946_005054.png   36  None   None
38722  1044_36_007854_008074.png   36  None   None
38723  1044_36_008215_008707.png   36  None   None

[38724 rows x 4 columns]

In [71]:
KANFace = df

In [72]:
###AgeDB

In [73]:
import os
import pandas as pd

def extract_age_gender_from_filename(filename):
    """
    Extracts age and gender from the given filename.
    Example filename: '16487_SerenaWilliams_33_f.jpg'
    """
    parts = filename.split('_')
    if len(parts) >= 3 and parts[-1][0] in ['f', 'm']:
        age = parts[-2]
        gender = 'female' if parts[-1][0] == 'f' else 'male'
        return age, gender
    return None, None

def process_directory(directory_path):
    data = []
    for filename in os.listdir(directory_path):
        if filename.endswith('.jpg'):
            age, gender = extract_age_gender_from_filename(filename)
            if age and gender:
                data.append({'file_name': filename, 'age': age, 'gender': gender})

    df = pd.DataFrame(data)
    return df

directory_path = 'C:/Users/HyperWorks/Downloads/AgeDB'
df = process_directory(directory_path)
df.insert(2, 'name', None)

In [74]:
AgeDB = df

In [75]:
AgeDB

                       file_name age  name  gender
0         0_MariaCallas_35_f.jpg  35  None  female
1      10000_GlennClose_62_f.jpg  62  None  female
2      10001_GoldieHawn_23_f.jpg  23  None  female
3      10002_GoldieHawn_24_f.jpg  24  None  female
4      10003_GoldieHawn_24_f.jpg  24  None  female
...                          ...  ..   ...     ...
16483   9998_GlennClose_59_f.jpg  59  None  female
16484   9999_GlennClose_61_f.jpg  61  None  female
16485     999_CarlSagan_35_m.jpg  35  None    male
16486       99_PaulAnka_46_m.jpg  46  None    male
16487     9_MariaCallas_30_f.jpg  30  None  female

[16488 rows x 4 columns]

In [111]:
combined = pd.concat([Asians,UTK,KANFace,AgeDB ], axis=0)

In [112]:
combined

                      file_name age  name  gender
0                  00000A02.jpg   2  None  female
1                  00001A02.jpg   2  None  female
2                  00002A02.jpg   2  None  female
3                  00003A02.jpg   2  None  female
4                  00004A02.jpg   2  None  female
...                         ...  ..   ...     ...
16483  9998_GlennClose_59_f.jpg  59  None  female
16484  9999_GlennClose_61_f.jpg  61  None  female
16485    999_CarlSagan_35_m.jpg  35  None    male
16486      99_PaulAnka_46_m.jpg  46  None    male
16487    9_MariaCallas_30_f.jpg  30  None  female

[92638 rows x 4 columns]

In [113]:
combined.loc[:, 'age'] = combined.loc[:, 'age'].astype(int)
combined = combined[(combined['age'] <= 85) & (combined['age'] >= 5)]

In [114]:
combined

                      file_name age  name  gender
223                00223A05.jpg   5  None  female
224                00224A05.jpg   5  None  female
225                00225A05.jpg   5  None  female
226                00226A05.jpg   5  None  female
227                00227A05.jpg   5  None  female
...                         ...  ..   ...     ...
16483  9998_GlennClose_59_f.jpg  59  None  female
16484  9999_GlennClose_61_f.jpg  61  None  female
16485    999_CarlSagan_35_m.jpg  35  None    male
16486      99_PaulAnka_46_m.jpg  46  None    male
16487    9_MariaCallas_30_f.jpg  30  None  female

[88996 rows x 4 columns]

In [115]:
def rename_file_name(row):
    return f'age{row["age"]}_{row["file_name"]}'

# Apply the function to the 'file_name' column
combined['file_name'] = combined.apply(rename_file_name, axis=1)

# Print the updated DataFrame
print(combined)

                            file_name age  name  gender
223                 age5_00223A05.jpg   5  None  female
224                 age5_00224A05.jpg   5  None  female
225                 age5_00225A05.jpg   5  None  female
226                 age5_00226A05.jpg   5  None  female
227                 age5_00227A05.jpg   5  None  female
...                               ...  ..   ...     ...
16483  age59_9998_GlennClose_59_f.jpg  59  None  female
16484  age61_9999_GlennClose_61_f.jpg  61  None  female
16485    age35_999_CarlSagan_35_m.jpg  35  None    male
16486      age46_99_PaulAnka_46_m.jpg  46  None    male
16487    age30_9_MariaCallas_30_f.jpg  30  None  female

[88996 rows x 4 columns]

C:\Users\HyperWorks\AppData\Local\Temp\ipykernel_2292\3090404838.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined['file_name'] = combined.apply(rename_file_name, axis=1)

In [116]:
train = combined.sample(frac=0.8, random_state=123)
df_left = combined.drop(train.index)
val = df_left.sample(frac=0.5, random_state=123)
test = df_left.drop(val.index)

### Code for partitioning

In [99]:
import os
import shutil
import pandas as pd


df = train

base_directory = 'C:/Users/HyperWorks/Desktop/GÅ‚upoty SGH/fotosy'  # Update this to the desired base directory

# Iterate through the DataFrame, creating directories and moving files
for index, row in df.iterrows():
    age = row['age']
    file_name = row['file_name']
    source_path = os.path.join('C:/Users/HyperWorks/Downloads/all-IMDB/', file_name)  # Update with the actual photos' directory

    # Create a directory for the age if it doesn't exist
    age_directory = os.path.join(base_directory, str(age))
    if not os.path.exists(age_directory):
        os.makedirs(age_directory)

    # Define the destination path for the photo
    destination_path = os.path.join(age_directory, file_name)

    # Move or copy the photo to the new directory
    # Ensure the source file exists before attempting to copy or move
    if os.path.exists(source_path):
        shutil.copy(source_path, destination_path)  # Use shutil.move to move instead of copy
    else:
        print(f"Source file not found: {source_path}")

print("Photos have been organized.")

KeyboardInterrupt:

### Code for partitioning, with filename prepending age## digits

In [102]:
import os
import shutil
import pandas as pd

# Assuming 'combined' is a DataFrame that contains your data
df = train

base_directory = 'C:/Users/HyperWorks/Desktop/GÅ‚upoty SGH/fotosy'  # Update this to the desired base directory

# Iterate through the DataFrame, creating directories and moving files
for index, row in df.iterrows():
    age = row['age']
    file_name = row['file_name']
    source_path = os.path.join('C:/Users/HyperWorks/Downloads/all-IMDB/', file_name)  # Update with the actual photos' directory

    # Create a directory for the age if it doesn't exist
    age_directory = os.path.join(base_directory, str(age))
    if not os.path.exists(age_directory):
        os.makedirs(age_directory)

    # Prepend the age to the file name
    new_file_name = f"age{age}_{file_name}"

    # Define the destination path for the photo with the new file name
    destination_path = os.path.join(age_directory, new_file_name)

    # Move or copy the photo to the new directory
    # Ensure the source file exists before attempting to copy or move
    if os.path.exists(source_path):
        shutil.copy(source_path, destination_path)  # Use shutil.move to move instead of copy
    else:
        print(f"Source file not found: {source_path}")

print("Photos have been organized.")

Photos have been organized.

In [103]:
!pip install fastparquet
!pip install pyarrow

Requirement already satisfied: fastparquet in d:\anaconda\lib\site-packages (2023.10.1)
Requirement already satisfied: pandas>=1.5.0 in d:\anaconda\lib\site-packages (from fastparquet) (2.1.3)
Requirement already satisfied: cramjam>=2.3 in d:\anaconda\lib\site-packages (from fastparquet) (2.7.0)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from fastparquet) (21.3)
Requirement already satisfied: numpy>=1.20.3 in d:\anaconda\lib\site-packages (from fastparquet) (1.26.1)
Requirement already satisfied: fsspec in d:\anaconda\lib\site-packages (from fastparquet) (2022.7.1)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=1.5.0->fastparquet) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging->fastparquet) (3.0.9)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Requirement already satisfied: pyarrow in d:\anaconda\lib\site-packages (14.0.1)
Requirement already satisfied: numpy>=1.16.6 in d:\anaconda\lib\site-packages (from pyarrow) (1.26.1)

In [117]:
train.to_parquet("C:/Users/HyperWorks/Desktop/PW/IML/UTK/train.parquet", index=False)
val.to_parquet("C:/Users/HyperWorks/Desktop/PW/IML/UTK/val.parquet", index=False)
test.to_parquet("C:/Users/HyperWorks/Desktop/PW/IML/UTK/test.parquet", index=False)